page-login {
    .content {
        background-color:  color($colors,primary)
        // background: linear-gradient(to bottom, white , rgb(255,233,0));
    }
    .list-ios > .item-block:first-child{
        border-top:none;
    }

    .item-input .label-md, .item-select .label-md, .item-datetime .label-md{
        color: white
    }

    .item-input-has-focus .label-md[stacked],
    .input-has-focus .label-md[stacked],
    .item-input-has-focus .label-md[floating],
    .input-has-focus .label-md[floating] {
      color: white;
    }

    .item-md.item-input.item-input-has-focus .item-inner,
    .item-md.item-input.input-has-focus .item-inner {
      border-bottom-color: white;
      -webkit-box-shadow: inset 0 -1px 0 0 #488aff;
      box-shadow: inset 0 -1px 0 0 #488aff;
    }

    .item-md.item-block .item-inner {
        border-bottom: 1px solid white;
    }

    .thinHeading {
        color:white;
        font-size: 1rem;
        text-align:center;
        padding:0px;
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
      }
}
