<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Appointment</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()"> <!-- (click)="logout()" -->
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar> 
</ion-header>
<ion-content style="overflow-y: hidden;">
  <ion-list style="margin-bottom: 0px;">
      <ion-slides no-padding (ionSlideNextEnd)="ionSlideNextEnd()" (ionSlidePrevEnd)="ionSlidePrevEnd()" (ionSlideDidChange)="slideChanged()">
        <ion-slide no-padding *ngFor="let slide of slide_list">
          <ion-row no-padding class="date-row">
            <ion-col text-center 
              [ngClass]="{'active': date.active, 'date-col': !date.active}" 
              *ngFor="let date of slide.dates; let i = index;"
              (click)="dateClick(slide,i)">
              <sub style="font-size: 12px;">{{date.day}}</sub>
              <h4 style="margin:0px;">{{date.date}}</h4>
              <sup style="font-size: 10px;">{{date.month}}</sup>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
  </ion-list>
  <ion-scroll scrollY="true" style="width: 100%; height: 85%;">
    <div [hidden]="!dashboardFlag">
      <ion-list>
        <ion-item 
          *ngFor="let slot of slots" 
          [ngClass]="{
            'CONFIRMED': slot.status == 'CONFIRMED',
            'NOTCONFIRMED': slot.status == 'NOTCONFIRMED',
            'ARRIVED': slot.status == 'ARRIVED',          
            'CLOSED': slot.status == 'CLOSED',          
            'REGISTERED': slot.status == 'REGISTERED',
            'BLOCKED': slot.status == 'BLOCKED'    
          }"
          no-margin no-padding>
          <ion-row no-padding>
            <ion-col col-3 padding text-center style="top:0em;">
                {{slot.time}}
                <!-- <ion-note style="color:#666">{{slot.time}}</ion-note> -->
              </ion-col>
              <ion-col col-9 
              no-padding
              style="color:#666">
              <ion-card  
                  nopaddings
                  [ngClass]="{
                      'CONFIRMED': apt.status == 'CONFIRMED',
                      'NOTCONFIRMED': apt.status == 'NOTCONFIRMED',
                      'ARRIVED': apt.status == 'ARRIVED',          
                      'CLOSED': apt.status == 'CLOSED',          
                      'REGISTERED': apt.status == 'REGISTERED',
                      'BLOCKED': apt.status == 'BLOCKED'    
                    }"
                    *ngFor="let apt of slot.appointments">
                    <ion-card-content padding-horizontal text-wrap>
                      <h2>{{apt.appoint_name}}</h2> 
                      <ion-note item-end style="color:#666">{{apt.office_Name}}, {{apt.resource_Name}}</ion-note>
                      <p item-end style="color:rgb(82, 80, 80)">{{apt.appoint_purpose}}</p>
                    </ion-card-content>
                    <!-- <ion-note 
                      item-end 
                      style="color:#666;font-weight:normal;"
                      [ngClass]="{
                        'new-patient': apt.new_patient && apt.status != 'BLOCKED', 
                        'revisit': !apt.new_patient,
                        'BLOCKED': apt.status == 'BLOCKED',
                        'none': !slot.appointments.length
                      }">
                      <span *ngIf="!apt.new_patient && slot.appointments.length">revisit</span>
                      <span *ngIf="apt.new_patient && apt.status != 'BLOCKED'">new</span>
                    </ion-note> -->
              </ion-card>
            </ion-col>
          </ion-row>
          
        <!-- <ion-note item-end style="transform: rotate(270deg);">BOOKED</ion-note> -->
          <!-- <p>
            {{slot.time}}
            <span 
              [ngClass]="{
                'new-patient': slot.new_patient && slot.status != 'BLOCKED', 
                'revisit': !slot.new_patient
              }" 
              *ngIf="slot.appointment" 
              padding margin-horizontal>
              {{slot.appointment.appoint_name}}
            </span>
          </p> -->
        </ion-item>
      </ion-list>
    </div>
    <div [hidden]="dashboardFlag">
      <ion-card color="primary" *ngFor="let db of dashboard">
        <ion-row>
          <ion-col text-center>
            <h1 style="font-size:6em;">{{db.value}}</h1>
            <p class="p">{{db.label}}</p>
          </ion-col> 
        </ion-row>
      </ion-card>
    </div>
  </ion-scroll> 
  <ion-fab bottom right>
    <button ion-fab mini (click)="fabClick()" [hidden]="!dashboardFlag" color="danger">
      <ion-icon name="arrow-round-back"></ion-icon> 
    </button>
    <button ion-fab mini (click)="fabClick()" [hidden]="dashboardFlag" color="danger">
      <ion-icon name="list"></ion-icon> 
    </button>
  </ion-fab>
</ion-content>