<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Appointment</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content style="overflow-y: hidden;">
  <ion-list style="margin-bottom: 0px;">
      <ion-slides no-padding (ionSlideNextEnd)="ionSlideNextEnd()" (ionSlidePrevEnd)="ionSlidePrevEnd()" (ionSlideDidChange)="slideChanged()">
        <ion-slide no-padding *ngFor="let slide of slide_list">
          <ion-row no-padding class="date-row">
            <ion-col text-center 
              [ngClass]="{'active': date.active, 'date-col': !date.active}" 
              *ngFor="let date of slide.dates; let i = index;"
              (click)="dateClick(slide,i)">
              <sub style="font-size: 12px;">{{date.day}}</sub>
              <h4 style="margin:0px;">{{date.date}}</h4>
              <sup style="font-size: 10px;">{{date.month}}</sup>
            </ion-col>
          </ion-row>
        </ion-slide>
      </ion-slides>
  </ion-list>
  <ion-scroll scrollY="true" style="width: 100%; height: 85%;">
    <ion-list>
      
      <ion-item 
        *ngFor="let slot of slots" 
        [ngClass]="{
          'CONFIRMED': slot.status == 'CONFIRMED',
          'NOTCONFIRMED': slot.status == 'NOTCONFIRMED',
          'ARRIVED': slot.status == 'ARRIVED',          
          'CLOSED': slot.status == 'CLOSED',          
          'REGISTERED': slot.status == 'REGISTERED',
          'BLOCKED': slot.status == 'BLOCKED'    
        }"
        no-margin no-padding>
        <ion-row no-padding>
          <ion-col col-3
             padding>
             <ion-note style="color:#666">{{slot.time}}</ion-note>
            </ion-col>
            <ion-col col-9 
            padding 
            style="color:#666">
            <div *ngIf="slot.appointment">{{slot.appointment.appoint_name}}</div>
          </ion-col>
        </ion-row>
        <ion-badge 
        item-end 
        style="color:#666;font-weight:normal;"
        [ngClass]="{
          'new-patient': slot.new_patient && slot.status != 'BLOCKED', 
          'revisit': !slot.new_patient,
          'BLOCKED': slot.status == 'BLOCKED',
          'none': !slot.appointment
        }">
        <span *ngIf="!slot.new_patient && slot.appointment">revisit</span>
        <span *ngIf="slot.new_patient && slot.status != 'BLOCKED'">new</span>
      </ion-badge>
      <!-- <ion-note item-end style="transform: rotate(270deg);">BOOKED</ion-note> -->
        <!-- <p>
          {{slot.time}}
          <span 
            [ngClass]="{
              'new-patient': slot.new_patient && slot.status != 'BLOCKED', 
              'revisit': !slot.new_patient
            }" 
            *ngIf="slot.appointment" 
            padding margin-horizontal>
            {{slot.appointment.appoint_name}}
          </span>
        </p> -->
      </ion-item>
    </ion-list>
  </ion-scroll>
</ion-content>